doctype html
html
  head
    title Reveal JS Template
    link(rel="stylesheet", href="app.css")
    script(src="app.js")
    script require('initialize');
  body
    .reveal
      .slides
        section
          h2(align="left") Reveal JS Template
        section
          h3 Section Title
          p Lorem ipsum dolor sit amet
        section
          section
            h4 Repeated Subtitle
            p consectetur adipiscing elit
          section
            h4 Repeated Subtitle
            p consectetur adipiscing elit
            p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          section
            h4 Repeated Subtitle
            pre
              code
                | HAI 1.2
                | CAN HAS STDIO?
                | VISIBLE "HAI WORLD!"
                | KTHXBYE
